# Functions: 
They make code chunks reusable. 
Depending on the programs, functional programming: you define functions --> code is more readable.
Structured way of how to solve a program.

In [1]:
# Let's define our first function that takes a number and adds one to it.
def add_one(number):
    
    # Add one to number
    number_plus_one = number + 1
    
    # Return result
    return number_plus_one

In [2]:
add_one(5)

6

In [3]:
#Let's define another function
def add_one_str(number):
    
    #Add one to number
    number_plus_one = number + 1
    
    # Print results
    print(number_plus_one)

In [13]:
x = add_one(5)

6

In [14]:
y = add_one_str(5)

6

In [9]:
type(add_one_str)

function

In [10]:
type(add_one_str(5))

6

NoneType

In [15]:
print(x, y)

6 None

In [18]:
# General structure of functions
# def func_name(input1, input2, ..., inputN):

    #function body
    
   # return result

In [19]:
# Functions return more than one output
def add_one_return_both(num1):
    
    # Add one to num1
    num2 = num1 + 1
    
    return num1, num2

In [23]:
x, y = add_one_return_both(5)
print(x, y)

5 6

In [25]:
# Functions can have two inputs and default values!

def num_pow(num, exponent=2):
    
    return num ** exponent

In [26]:
num_pow(2)

4

In [28]:
#Python will understand that the exponent in this case is not 2, but 3. The number we give in the statement.

num_pow(2,3)

8

In [37]:
# Positional vs keyword arguments:

def subtract(num1, num2):
    return num1-num2

In [38]:
# Use positional arguments:
subtract (5,2)

3

In [39]:
subtract(2,5)

-3

In [43]:
# I can swap arguments if I use the parameter names

subtract(num2=2, num1=5) == subtract (5,2)

True

In [52]:
# Functions can take a variable number of arguments

def add_all_numbers(*numbers):
    
    # What is the object type of *numbers?
    print(type(numbers))
    
    #Initialize counter that collect sum of numbers
    total = 0
    
    # Add up all numbers (without knowing exactly how many number there are)
    for nr in numbers:
        total += nr
        
    return total

In [56]:
print(add_all_numbers(1, 2, 3))
print(add_all_numbers(1, 2, 3, 4, 5, 6))

<class 'tuple'>
6
<class 'tuple'>
21